body {
    background: url(img/img3.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
table {
    width: 1200px;
    height: 200px;
    background: rgba(800,400,20,0.6);
    color: black;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    box-sizing: border-box;
}
td {
  color: black;
  text-align: center;
  font-family:Arial;
 font-size:20px;
}

th {
    font-family: cursive;
    color: blue;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}
.btn {
    font-size: 25px;
    border-radius: 50px;
    color: black;
    background: url(img1.jpg);
    padding: 20px;
}
h1 {
    border-radius: 70px;
    background: url(img/gif105.gif);
    color: black;
    float:left;
    border-color: white;
    font-family:Arial;
    font-size: 40px;
}
.butt {
    font-size: 15px;
    border-radius: 50px;
    font-size: 30px;
    color: black;
    background: url(img/gif15.gif);
    padding: 5px;
}